.navbar,
.navbar .navbar-brand,
.navbar .nav-link {
    color: #3b2f2f !important;
}

.navbar .navbar-brand {
    font-weight: bold;
}
.navbar .nav-link.active {
    font-weight: bold;
}


.navbar {
    background-color: #fff !important;
}

.hero-section {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section .text-white,
.hero-section {
    color: #ffebd4 !important;
}

.hero-section h1 {
    font-family: 'Handlee', cursive;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

